
html {
    font-size: 62.5%; /* Now 10px = 1rem! */
    font-size: .9765625vw;
}

body {
    font-size: 1.6rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    width: 100%;
    color: white;
    overflow-x: hidden;
}

section {
    padding: 30px;
}

/* Navbar */

h1 {
    padding-left: 20px;
}

.text-primary {
    color: white;
}

nav {
    display: flex;
    background: black;
    position: sticky;
    justify-content: space-between;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid white; 
}

.nav-links {
    display: flex;
}

nav li {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav h1 a {
    color: white;
    text-decoration: none;   
}

nav li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 1.3rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav li {
    text-align: right;
}

nav li:hover {
    background-color: rgb(24, 155, 179);
}

/* main */

.main {
    max-width: 100%;
    height: 200px;
    margin: auto;
    background: url(assets/keyboard.jpg) no-repeat center center/cover;
    border-bottom: 1px solid white;
    text-align: center;
    align-items: center;
}

.main p {
    font-size: 3rem;
    margin-bottom: 2rem;
    background-color: black;
}

/*works */

.works {
    background-color: black;
    border-bottom: 1px solid white;
}
.work img {
    width: 100%;
} 

.work li {
    list-style-type: none;
    display: flex;
    margin-bottom: 20px;

}

.work li h3 {
    padding: 0;
    margin: 0 0 0 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

li a {
    display: block;
    width: 30%;
}

.info p {
    width: 70%;
    margin: 0;
    padding: 0;
}


/* about */

.about {
    background-color: black;
    text-align: center;
    border-bottom: 1px solid white;
}

/* footer */

footer {
    display: flex;
    background: black;
    top: 0;
    z-index: 1;
    justify-content: center;
}

footer li {
    display: flex;
    align-items: center;
    list-style-type: none;
}

footer li a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 1rem;
    font-size: 1.3rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

footer li:hover {
    background-color: rgb(24, 155, 179);
}








